/* App.css */

body {
    margin: 0;
    padding: 0;
}
.loading {
    cursor: wait !important;
  }
.app-container {
    background-color: rgb(251, 213, 156);
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.header {
    height: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(215, 124, 5);
    padding: 0 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-button {
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    padding: 6px 12px;
    margin-right: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* .header-button-list {

} */

.header-text {
    font-size: x-large;
}

.main-container {
    height: 92%;
    display: flex;
}
.right-pane{
    width: 60%;
}
.top-right{
    background-color: rgb(248, 233, 211);
    height:40%;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.bottom-right{
    background-color: rgb(248, 233, 211);
    height: 40%;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.leaflet-container {
    height: 100%;
    width: 40vw;
    flex: 1;

}

.map-container {
    background-color: rgb(248, 233, 211);
    text-align: center;
    width: 40%;
    height: 80%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}
.mini-map-container {
    background-color: rgb(248, 233, 211);
    text-align: center;
    width: 40%;
    height: 40%;
}
.controls-container{
    background-color: rgb(248, 233, 211);
    width:60%;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.welcome-container {
    background-color: rgb(248, 233, 211);
    width: 60%;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    text-align: center;
}

.dropdown-menu {
    margin-top: 20px;
    text-align: center;
    /* Add styles for your dropdown menu */
}
.header .header-button[disabled] {
    cursor: not-allowed;
  }
select {
    text-align: center;
    background-color: #d9cea8;
    width: 100%; /* Make the dropdown full-width */
    padding: 10px; /* Add some padding to the dropdown */
    border: 1px solid #ccc; /* Add a border for better visibility */
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  select:hover{
    cursor: pointer;
  }
/* Add these styles to your App.css file */

.button-container {
    border-radius: 5px;
    display: flex;
    width: 100%;
}

.control-button {
    flex-grow: 1;
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color: rgb(236, 190, 120);
    color: #000000;
    cursor: pointer;
    font-size: 16px;
}

.control-button.active {
    border-radius: 5px;
    border: #000000;
    background-color: rgb(155, 124, 78);
}

.component-container{
    padding: 20px;
    text-align: center;
}

.clustScatContainer {
    background-color: rgb(248, 233, 211);
    width: 60%;
    height: 80%;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.inner-component-container{
    text-align: center;
}
/* styles.css */
.table-container {
    background-color: rgb(254, 207, 136);
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
  }
  button{
    background-color: rgb(237, 218, 194);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #000000;
  }
  button:hover{
    cursor: pointer;
    background-color: rgb(164, 150, 134);
  }
  button:disabled{
    cursor: not-allowed;
    background-color: #ccc;
  }
  table {
    border-radius: 5px;
    background-color: rgb(248, 233, 211);
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    background-color: rgb(238, 186, 119);
    padding: 10px;
    text-align: center;
    border: 1px solid #000000;
  }

  th {
    background-color: rgb(215, 124, 5);
  }
  
  .pagination {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .pagination-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .ensemble-button {
    cursor: pointer;
    padding: 8px 12px; /* Adjust padding as needed */
    border: 1px solid #666;
    border-radius: 5px;
    /* display: inline-block; */
    text-align: center;
    text-decoration: none; /* Remove underline for anchor tags */
    color: #333;
    font-weight: bold;
    user-select: none; /* Disable text selection */
}

.ensemble-button:hover {
    background-color: rgb(155, 124, 78);
    border-radius: 5px;

}
.disabled-button {
    border-radius: 5px;
    cursor: not-allowed;
    /* opacity: 0.6; */
    /* Add any other styles to visually indicate that the button is disabled */
  }