/* Remove default margin and padding from body and html */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Define the map container to occupy 100% of the viewport height */
#map {
    height: 100vh;
    /* 100% of the viewport height */
    width: 70%;
    /* Adjust the width as needed */
}

/* CSS for the button container */
#button-container {
    margin-top: 20px;
    /* Adjust the margin as needed to position the buttons below the dropdown */
}

/* Style for the right 30% of the viewport */
.right-panel {
    background-color: #f0f0f0;
    /* Light gray background */
    width: 30%;
    /* 30% of the viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Style for the select statement */
#select-statement {
    margin-bottom: 10px;
    text-align: center;
    /* Center the text within the dropdown */
    font-size: 40px;
    /* Set the font size to make it larger */
}

/* Style for the dropdown select */
#state-dropdown {
    width: 70%;
    /* Adjust the width as needed */
    text-align: center;
    /* Center the text within the dropdown */
    font-size: 24px;
    /* Set the font size to make it larger */
    padding: 10px;
    /* Add padding to make it larger */
}