#map-container {
    width: 50%;
    height: 99vh;
    /* 100vh cuts off the screen */
    overflow: hidden;
}

/* Style the container to split the screen */
#container {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Style the data container to take up the right half */
.data-container {
    width: 50%;
    height: 100%;
    overflow: auto;
    /* Add scrollbars if the content overflows the container */
}

/* Style for the table */
#property-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

/* Style for table header */
#property-table th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style for table data rows */
#property-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Style for alternating row colors */
#property-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}