/* Remove default margin and padding from body and html */
body,

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #bdbdbd;
}

.home-button {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 1000;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.home-button:hover {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 1000;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.mapWrapper {
  height: 99%;
  width: 99vw;
  /* 100% or 100vw adds a scroll bar */
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* change size in future:
  function changeMapSizeXbyY(height = "100%", width = "70vw") {
    const leafletContainer = document.querySelector(".leaflet-container");
    leafletContainer.style.width = width;
    leafletContainer.style.height = height;
  }
*/
.leaflet-container {
  height: 100%;
  width: 70vw;
  flex: 1;

}

.dropdown {
  width: 30%;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  /* Center the text within the dropdown */
  font-size: 40px;
  /* Set the font size to make it larger */

}

.clusterScatter {
  width: 50%;
  height: 70%;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  /* Center the text within the dropdown */
  /* Set the font size to make it larger */

}

.ensembleSelect {
  width: 50%;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  /* Center the text within the dropdown */
  font-size: 40px;
  /* Set the font size to make it larger */

}

.clusterRight {
  width: 50%;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  height: 90%;

}

.districtsScatter {
  margin-top: 20px;
  height: 520px;
}





.ensemble {
  width: 80%;
  max-height: 15%;
  border: 1px solid #ccc;
  margin: 20px;
  /* Increased margin for more spacing */
  padding: 20px;
  /* Increased padding for more spacing */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ensemble-header {
  font-size: 28px;
  /* Increased the font size */
  font-weight: bold;
}

.button-container {
  display: flex;
}

.button {
  margin: 0 15px;
  /* Increased horizontal spacing */
  padding: 15px 30px;
  /* Increased padding for larger buttons */
  font-size: 18px;
  /* Increased the font size */
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  /* Increased border radius for rounded corners */
  cursor: pointer;
}



.pagination {
  margin-top: 10px;
  /* Adjust as needed */
}

.pagination button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #0074d9;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pagination button:disabled {
  margin: 5px;
  padding: 5px 10px;
  background-color: #494949;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: default;
}